<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>ik Server</title>
    <link rel="stylesheet" href="..\css\style.css">
</head>
<body>
    <div class="grid-bg"></div>
    
    <div class="disc-menu" id="discMenu">
        <div class="disc" id="mainDisc">
            <div class="disc-time" id="discTime">00:00</div>
            <div class="disc-date" id="discDate">00/00</div>
        </div>
    </div>

    <div class="scifiUI">
        <h1><b>ik Server</b></h1>
        <button onclick="location.href='ssh.html'">SSH</button>
        <br><br>
        <button onclick="location.href='desktop.html'">Desktop</button>
    </div>

    <script src="..\js\script.js"></script>
</body>
</html>